.layout {
  display: flex;
  min-height: 100vh;
  background: black;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}
h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
}
.ABC{
  border: 6px 6px solid #ffffff;
}
.content{
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}